frontend/node_modules

frontend/panel/node_modules
frontend/panel/dist

frontend/sudoku/node_modules
frontend/sudoku/dist

frontend/connect4/node_modules
frontend/connect4/dist

frontend/battleships/node_modules
frontend/battleships/dist

backend/obj
backend/bin
backend/publish

Games.sln
Deployment/


